body {
  margin: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background-color: black;
}

.hero-img {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f3e38a9-1c2c-4818-99b5-2d9bdff9ad1d/96d29058-fe9b-4f8e-aa49-4c7af385934b/IN-en-20220124-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 50vh;
  z-index: -1;
  opacity: 0.4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 130px;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    background-color: #e50914;
    padding: 0.4em;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .opt {
    color: whitesmoke;
    padding: 5px;
    background-color: rgba($color: #000000, $alpha: 0);
  }

  option {
    color: #e50914;
    background-color: rgba($color: #000000, $alpha: 0.9);
  }
}

.hero-txt {
  color: whitesmoke;
  text-align: center;

  h1 {
    font-weight: 700;
  }
  h3 {
    font-weight: 500;
    line-height: 20px;
  }
}

.hero-input {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    padding: 0.5em;
    width: 20em;
    height: 2em;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5em;
    border: none;
  }
  a {
    text-decoration: none;
    width: 8em;
    text-align: center;
    color: whitesmoke;
    background-color: #e50914;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1rem;
    margin-left: 10px;
  }
}

.section {
  margin-top: 5em;
  color: whitesmoke;
  display: flex;
  flex-direction: column;

  .text {
    text-align: center;

    h3 {
      font-weight: 500;
      font-size: 1rem;
      margin-top: -0.5em;
    }
  }

  img {
    margin-top: -0.9em;
    margin-bottom: 4em;
    width: 100%;
    z-index: -1;
  }

  .section-3 {
    img {
      margin-top: 1em;
    }
  }
}

footer {
  color: whitesmoke;
  text-align: center;
  opacity: 0.5;
}

@media screen and (min-width: 700px) {
  .hero-input {
    .input {
      width: 40em;
    }
  }

  .section {
    margin-top: 7em;

    h2 {
      font-size: 3em;
      margin-bottom: 0.5em;
    }

    h3 {
      font-size: 2em;
      font-weight: 100;
    }

    img {
      margin-top: -1em;
    }
  }
}

@media screen and (min-width: 1250px) {
  nav {
    img {
      width: 150px;
    }
    a {
      font-size: 1.3rem;
    }
    .opt {
      font-size: 1.3rem;
    }
  }

  .hero-txt {
    h1 {
      font-size: 4rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }

  .hero-input {
    input {
      width: 30em;
    }
    a {
      width: 8em;
      font-size: 1.2rem;
    }
  }

  .section {
    display: flex;

    .section-1,.section-2,.section-3,.section-4{
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: -1em;
      img{
        width: 100%;
      }
      .text{
        text-align: right;
      }
    }

    .section-2,.section-4{
      flex-direction: row-reverse;
      .text{
        text-align: left;
      }
    }
    
      h3{
        width: 35em;
      }
    
  }
}

@media screen and (min-width: 1800px) {
.section{
  .section-2,.section-4{
    .text{
      margin-left: -22em;
    }
    }

    .section-1,.section-3{
      .text{
        margin-right: -30em;
      }
      }
}
}